<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="content">
                <div class="subtitle"><mark>NEW</mark> MONOGRAPH DASHBOARD</div>
                <h1 class="display-5">POWERFUL INSIGHTS <br/>INTO YOUR TEAM</h1>
                <p class="display-4">Project planning and time tracking <br/>for agile teams</p>
                <div class="preview"><button class="btn btn-danger">SCHEDULE A DEMO</button>TO SEE A PREVIEW</div>
                
            </div>
        </div>
        <div class="col-md-6">
            <img src="../images/illustration-devices.svg" alt="Illustration" class="img-fluid">
        </div>
    </div>
</div>